#Old or Duplicate HTML files
index (3).html
indexfinal.html
#Screeenshort folders and extra needed
Power Of Math Project notes and links.txt
PowerOfMathFunction - Lambda-Final.txt
Project Building Screenshots/
index.zip
